<header>
	<section class="container group">
		<% if logged_in?%>
			<h1 class="logo"><%= link_to 'Auto-Mate', profile_path%></h1>
			<nav class="primary-nav">
				<%= link_to 'home', profile_path%>
				<%= link_to 'about', about_path%>
				<%= link_to 'profile', profile_path%>
				<%= link_to 'logout', logout_path%>
			</nav>
		<%else%>
			<h1 class="logo"><%= link_to 'Auto-Mate', index_path%></h1>
			<nav class="primary-nav">
				<%= link_to 'home', index_path%>
				<%= link_to 'about', about_path%>
				<%= link_to 'login', login_path%>
			</nav>
		<%end%>
	</section>
</header>