<header>
	<ul class = "nav_bar">
		<% if logged_in?%>
		    <li><%= active_link_to 'Auto-Mate', profile_path, class: "nav_bar_left", id: "logo"%></li>
			<li><%= active_link_to 'Logout', logout_path, class: "nav_bar_right"%></li>
			<li><%= active_link_to 'profile', profile_path, class: "nav_bar_right"%></li>
		<%else%>
		    <li><%= active_link_to 'Auto-Mate', home_path, class: "nav_bar_left", id: "logo"%></li>
			<li><%= active_link_to 'Login', login_path, class: "nav_bar_right"%></li>
		<%end%>
		<li><%= active_link_to 'about', about_path, class: "nav_bar_right"%></li>
	</ul>
</header>
